<h1>Board: <%= @board.name %></h1>
<p>User: <%= @board.user&.email %></p>
<p>Dimensions: <%= @board.width %> x <%= @board.height %></p>
<p>Number of Mines: <%= @board.number_of_mine %></p>

<h2>Board Layout:</h2>
<div class="board-container">
  <div class="board" style="grid-template-columns: repeat(<%= @board.width %>, 40px); grid-template-rows: repeat(<%= @board.height %>, 40px);">
    <% @board_grid.each do |row| %>
      <% row.each do |cell| %>
        <div class="cell <%= cell == 'M' ? 'mine-cell' : 'empty-cell' %>">
          <% if cell == 'M' %>
            💣
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Back to Boards', boards_path %>
