<h1>Board: <%= @board.name %></h1>
<p>User: <%= @board.user&.email %></p>
<p>Dimensions: <%= @board.width %> x <%= @board.height %></p>
<p>Number of Mines: <%= @board.number_of_mine %></p>

<h2>Board Layout:</h2>
<table style="border-collapse: collapse;">
  <% @board_grid.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td style="width: 30px; height: 30px; text-align: center; border: 1px solid black;">
          <%= cell %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Back to Boards', boards_path %>
